*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #001F23;
}
.barra{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.barra img{
    width: 9rem;
    height: auto;
}